<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permiso para retrofit -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- Permisos para la camara -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NanNamApp"
        tools:targetApi="31">

        <activity
            android:name=".ui.view.menu.StartMenu"
            android:exported="false"  />
        <activity
            android:name=".ui.view.ShowRecipeActivity"
            android:exported="false"  />
        <activity
            android:name=".ui.view.CreateRecipeActivity"
            android:exported="false"  />
        <!-- <activity
            android:name=".ui.view.SelectPreferencesActivity"
            android:exported="false"  /> -->

        <activity
            android:name=".ui.view.IngredientListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.PrepareRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".ui.view.menu.StartMenu"
            android:exported="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.NamNamApp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".ui.view.EditRecipeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>